body {
    background-color: bisque;
    text-align: center;
    padding: 15px;
}
h1 {
    color: forestgreen;
}
p {
    color: rgb(66, 65, 65);
}
img {
    border-radius: 15%;
    width: 350px;
    height: auto;
}
ol {
    list-style-type: lower-greek;
}